script_bedroom_lights_full:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Full
    target:
      entity_id: input_text.text_bedroom_lights_state
  - parallel:
    - metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_1
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_2
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_ceiling
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      action: light.turn_on
      target:
        entity_id: light.light_bedroom_nightstand
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_floor
      - light.light_bedroom_ceiling
      - light.light_bedroom_nightstand
    action: adaptive_lighting.set_manual_control
    enabled: true
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_floor
      - light.light_bedroom_ceiling
      - light.light_bedroom_nightstand
    action: adaptive_lighting.set_manual_control
    enabled: true
  alias: script-bedroom-lights-full
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_full:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Full
    target:
      entity_id: input_text.text_livingroom_lights_state
  - parallel:
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_countertop
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 55
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 85
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_cabinet
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 85
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_shoecabinet
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_smalldrawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 85
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bigdrawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bookcase
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_shoecabinet
      - light.light_livingroom_bookcase
      - light.light_livingroom_smalldrawer
      - light.light_livingroom_bigdrawer
      - light.light_livingroom_cabinet
    action: adaptive_lighting.set_manual_control
    enabled: true
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_shoecabinet
      - light.light_livingroom_bookcase
      - light.light_livingroom_smalldrawer
      - light.light_livingroom_bigdrawer
      - light.light_livingroom_cabinet
    action: adaptive_lighting.set_manual_control
    enabled: true
  alias: script-livingroom-lights-full
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_bedroom_lights_color:
  sequence:
  - variables:
      blue:
      - 190
      - 106
      - 255
      orange:
      - 255
      - 157
      - 104
      test:
      - 121
      - 205
      - 255
  - action: input_text.set_value
    metadata: {}
    data:
      value: Color
    target:
      entity_id: input_text.text_bedroom_lights_state
  - parallel: []
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  alias: script-bedroom-lights-color
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_color:
  sequence:
  - variables:
      blue:
      - 190
      - 106
      - 255
      orange:
      - 255
      - 157
      - 104
      test:
      - 121
      - 205
      - 255
  - action: input_text.set_value
    metadata: {}
    data:
      value: Color
    target:
      entity_id: input_text.text_livingroom_lights_state
  - parallel: []
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  alias: script-livingroom-lights-color
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_partial:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Partial
    target:
      entity_id: input_text.text_livingroom_lights_state
  - parallel:
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_shoecabinet
        - light.light_livingroom_bookcase
        - light.light_livingroom_smalldrawer
        - light.light_livingroom_bigdrawer
        - light.light_livingroom_countertop
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 50
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 70
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_cabinet
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_cabinet
    action: adaptive_lighting.set_manual_control
    enabled: true
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_cabinet
    action: adaptive_lighting.set_manual_control
    enabled: true
  alias: script-livingroom-lights-partial
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_bedroom_lights_partial:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Partial
    target:
      entity_id: input_text.text_bedroom_lights_state
  - parallel:
    - metadata: {}
      data:
        transition: '{{ transition }}'
        brightness_pct: 65
      action: light.turn_on
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_1
    - metadata: {}
      data:
        transition: '{{ transition }}'
        brightness_pct: 100
      action: light.turn_on
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_2
    - metadata: {}
      data:
        transition: '{{ transition }}'
        brightness_pct: 100
      action: light.turn_on
      target:
        entity_id:
        - light.light_bedroom_ceiling
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id: light.light_bedroom_nightstand
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_floor
      - light.light_bedroom_ceiling
    action: adaptive_lighting.set_manual_control
    enabled: true
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_floor
      - light.light_bedroom_ceiling
    action: adaptive_lighting.set_manual_control
    enabled: true
  alias: script-bedroom-lights-partial
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_dim:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Dim
    target:
      entity_id: input_text.text_livingroom_lights_state
  - parallel:
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 75
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_countertop
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 50
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_cabinet
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 75
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_shoecabinet
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 50
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_smalldrawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bigdrawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 40
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bookcase
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_shoecabinet
      - light.light_livingroom_bookcase
      - light.light_livingroom_smalldrawer
      - light.light_livingroom_bigdrawer
      - light.light_livingroom_cabinet
    action: adaptive_lighting.set_manual_control
    enabled: true
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_shoecabinet
      - light.light_livingroom_bookcase
      - light.light_livingroom_smalldrawer
      - light.light_livingroom_bigdrawer
      - light.light_livingroom_cabinet
    action: adaptive_lighting.set_manual_control
    enabled: true
  alias: script-livingroom-lights-dim
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_bedroom_lights_dim:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Dim
    target:
      entity_id: input_text.text_bedroom_lights_state
  - parallel:
    - metadata: {}
      data:
        brightness_pct: 40
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_1
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_2
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 55
        transition: '{{ transition }}'
      action: light.turn_on
      target:
        entity_id: light.light_bedroom_nightstand
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id: light.light_bedroom_ceiling
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_floor
      - light.light_bedroom_nightstand
    action: adaptive_lighting.set_manual_control
    enabled: true
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_floor
      - light.light_bedroom_nightstand
    action: adaptive_lighting.set_manual_control
    enabled: true
  alias: script-bedroom-lights-dim
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_music_kink:
  sequence:
  - action: media_player.play_media
    metadata: {}
    target:
      entity_id: media_player.philips_43pus8506
    data:
      media:
        media_content_id: media-source://radio_browser/c19d0f8c-24a5-11e9-a80b-52543be04c81
        media_content_type: audio/mpeg
        metadata:
          title: KINK
          thumbnail: https://kink.nl/static/apple-touch-icon.png
          media_class: music
          children_media_class:
          navigateIds:
          - {}
          - media_content_type: app
            media_content_id: media-source://radio_browser
          - media_content_type: music
            media_content_id: media-source://radio_browser/country/NL
          browse_entity_id: media_player.philips_43pus8506
    enabled: false
  - action: media_player.play_media
    target:
      entity_id: media_player.philips_43pus8506
    data:
      extra:
        title: KINK
        thumb: https://kink.nl/static/apple-touch-icon.png
      media:
        media_content_id: https://28983.live.streamtheworld.com:443/KINK.mp3
        media_content_type: audio/mpeg
        metadata: {}
  alias: script-music-kink
  description: ''
script_music_radio1:
  sequence:
  - action: media_player.play_media
    metadata: {}
    target:
      entity_id: media_player.philips_43pus8506
    data:
      media:
        media_content_id: media-source://radio_browser/8bcc3e89-0240-4130-9891-316a2627ea70
        media_content_type: audio/mpeg
        metadata:
          title: NPO Radio 1
          thumbnail: https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/NPO_Radio_1_logo_2014.svg/640px-NPO_Radio_1_logo_2014.svg.png
          media_class: music
          children_media_class:
          navigateIds:
          - {}
          - media_content_type: app
            media_content_id: media-source://radio_browser
          - media_content_type: music
            media_content_id: media-source://radio_browser/country/NL
          browse_entity_id: media_player.philips_43pus8506
    enabled: false
  - action: media_player.play_media
    target:
      entity_id: media_player.philips_43pus8506
    data:
      extra:
        title: NPO Radio 1
        thumb: https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/NPO_Radio_1_logo_2014.svg/640px-NPO_Radio_1_logo_2014.svg.png
      media:
        media_content_id: https://icecast.omroep.nl/radio1-sb-mp3
        media_content_type: audio/mpeg
        metadata: {}
    enabled: true
  alias: script-music-radio1
  description: ''
