script_bedroom_lights_full:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Full
    target:
      entity_id: input_text.text_bedroom_lights_state
  - parallel:
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_desk
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 75
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_ceiling
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_nightstand
      action: light.turn_on
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_ceiling
      - light.light_bedroom_nightstand
      - light.light_bedroom_desk
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_ceiling
      - light.light_bedroom_nightstand
      - light.light_bedroom_desk
    action: adaptive_lighting.set_manual_control
  alias: script-bedroom-lights-full
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_full:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Full
    target:
      entity_id: input_text.text_livingroom_lights_state
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 70
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_plantstand
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_floor
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 80
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_trolley
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 75
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_drawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 75
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bookcase
    - action: light.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: light.light_kitchen_countertop
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_plantstand
      - light.light_livingroom_floor
      - light.light_livingroom_bookcase
      - light.light_livingroom_trolley
      - light.light_livingroom_drawer
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_plantstand
      - light.light_livingroom_floor
      - light.light_livingroom_bookcase
      - light.light_livingroom_trolley
      - light.light_livingroom_drawer
    action: adaptive_lighting.set_manual_control
  alias: script-livingroom-lights-full
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_bedroom_lights_color:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Color
    target:
      entity_id: input_text.text_bedroom_lights_state
  - variables:
      blue:
      - 190
      - 106
      - 255
      orange:
      - 255
      - 157
      - 104
      test:
      - 121
      - 205
      - 255
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
        rgb_color: '{{ orange }}'
      target:
        entity_id:
        - light.light_bedroom_desk
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 70
        transition: '{{ transition }}'
        rgb_color: '{{ orange }}'
      target:
        entity_id:
        - light.light_bedroom_nightstand
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_ceiling
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_nightstand
      - light.light_bedroom_desk
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  alias: script-bedroom-lights-color
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_color:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Color
    target:
      entity_id: input_text.text_livingroom_lights_state
  - variables:
      blue:
      - 190
      - 106
      - 255
      orange:
      - 255
      - 157
      - 104
      test:
      - 121
      - 205
      - 255
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 70
        transition: '{{ transition }}'
        rgb_color: '{{ orange }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
        rgb_color: '{{ blue }}'
      target:
        entity_id: light.light_livingroom_plantstand
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
        rgb_color: '{{ orange }}'
      target:
        entity_id:
        - light.light_livingroom_trolley
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
        rgb_color: '{{ blue }}'
      target:
        entity_id:
        - light.light_livingroom_floor_lamp_2
        - light.light_livingroom_floor_lamp_3
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
        rgb_color: '{{ orange }}'
      target:
        entity_id:
        - light.light_livingroom_floor_lamp_1
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 35
        transition: '{{ transition }}'
        color_temp_kelvin: 2250
      target:
        entity_id:
        - light.light_livingroom_drawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 55
        transition: '{{ transition }}'
        rgb_color: '{{ orange }}'
      target:
        entity_id:
        - light.light_livingroom_bookcase
    - action: light.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: light.light_kitchen_countertop
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_plantstand
      - light.light_livingroom_floor
      - light.light_livingroom_bookcase
      - light.light_livingroom_trolley
      - light.light_livingroom_drawer
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  alias: script-livingroom-lights-color
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_partial:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Partial
    target:
      entity_id: input_text.text_livingroom_lights_state
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 80
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 50
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_plantstand
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_floor
        - light.light_livingroom_bookcase
        - light.light_livingroom_trolley
        - light.light_kitchen_countertop
        - light.light_livingroom_drawer
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_plantstand
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_plantstand
    action: adaptive_lighting.set_manual_control
  alias: script-livingroom-lights-partial
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_bedroom_lights_partial:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Partial
    target:
      entity_id: input_text.text_bedroom_lights_state
  - parallel:
    - metadata: {}
      data:
        transition: '{{ transition }}'
        brightness_pct: 80
      action: light.turn_on
      target:
        entity_id: light.light_bedroom_desk
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_ceiling
      action: light.turn_on
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_nightstand
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_ceiling
      - light.light_bedroom_desk
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_bedroom_ceiling
      - light.light_bedroom_desk
    action: adaptive_lighting.set_manual_control
  alias: script-bedroom-lights-partial
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_color_2:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Color
    target:
      entity_id: input_text.text_livingroom_lights_state
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 70
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_kitchen_countertop
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_plantstand
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 75
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_trolley
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_drawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 70
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bookcase
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 65
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_floor
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_plantstand
      - light.light_livingroom_floor
      - light.light_livingroom_bookcase
      - light.light_livingroom_trolley
      - light.light_kitchen_countertop
      - light.light_livingroom_drawer
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_plantstand
      - light.light_livingroom_floor
      - light.light_livingroom_bookcase
      - light.light_livingroom_trolley
      - light.light_kitchen_countertop
      - light.light_livingroom_drawer
    action: adaptive_lighting.set_manual_control
  alias: script-livingroom-lights-color-2
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
