script_bedroom_lights_full:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Full
    target:
      entity_id: input_text.text_bedroom_lights_state
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.lights_br_test
      - light.light_bedroom_floor
      - light.light_bedroom_ceiling
      - light.light_bedroom_nightstand
    action: adaptive_lighting.set_manual_control
  - parallel:
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.lights_br_test
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_1
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_2
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_ceiling
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      action: light.turn_on
      target:
        entity_id: light.light_bedroom_nightstand
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.lights_br_test
      - light.light_bedroom_floor
      - light.light_bedroom_ceiling
      - light.light_bedroom_nightstand
    action: adaptive_lighting.set_manual_control
  alias: script-bedroom-lights-full
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_full:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Full
    target:
      entity_id: input_text.text_livingroom_lights_state
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_shoecabinet
      - light.light_livingroom_bookcase
      - light.light_livingroom_test
      - light.light_livingroom_smalldrawer
      - light.lights_lr_test
      - light.light_livingroom_bigdrawer
    action: adaptive_lighting.set_manual_control
  - parallel:
    - action: light.turn_off
      metadata: {}
      data: {}
      target:
        entity_id:
        - light.light_livingroom_countertop
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.lights_lr_test
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 50
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 65
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_test
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 90
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_shoecabinet
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_smalldrawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 85
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bigdrawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bookcase
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_shoecabinet
      - light.light_livingroom_bookcase
      - light.light_livingroom_test
      - light.light_livingroom_smalldrawer
      - light.lights_lr_test
      - light.light_livingroom_bigdrawer
    action: adaptive_lighting.set_manual_control
  alias: script-livingroom-lights-full
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_bedroom_lights_color:
  sequence:
  - variables:
      blue:
      - 190
      - 106
      - 255
      orange:
      - 255
      - 157
      - 104
      test:
      - 121
      - 205
      - 255
  - action: input_text.set_value
    metadata: {}
    data:
      value: Color
    target:
      entity_id: input_text.text_bedroom_lights_state
  - parallel: []
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  alias: script-bedroom-lights-color
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_color:
  sequence:
  - variables:
      blue:
      - 190
      - 106
      - 255
      orange:
      - 255
      - 157
      - 104
      test:
      - 121
      - 205
      - 255
  - action: input_text.set_value
    metadata: {}
    data:
      value: Color
    target:
      entity_id: input_text.text_livingroom_lights_state
  - parallel: []
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
    action: adaptive_lighting.set_manual_control
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  alias: script-livingroom-lights-color
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_partial:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Partial
    target:
      entity_id: input_text.text_livingroom_lights_state
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_test
      - light.lights_lr_test
    action: adaptive_lighting.set_manual_control
  - parallel:
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_shoecabinet
        - light.light_livingroom_bookcase
        - light.light_livingroom_smalldrawer
        - light.light_livingroom_bigdrawer
        - light.light_livingroom_countertop
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.lights_lr_test
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 50
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 70
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_test
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_ceiling
      - light.light_livingroom_test
      - light.lights_lr_test
    action: adaptive_lighting.set_manual_control
  alias: script-livingroom-lights-partial
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_bedroom_lights_partial:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Partial
    target:
      entity_id: input_text.text_bedroom_lights_state
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.lights_br_test
      - light.light_bedroom_floor
      - light.light_bedroom_ceiling
    action: adaptive_lighting.set_manual_control
  - parallel:
    - metadata: {}
      data:
        transition: '{{ transition }}'
        brightness_pct: 100
      action: light.turn_on
      target:
        entity_id:
        - light.lights_br_test
    - metadata: {}
      data:
        transition: '{{ transition }}'
        brightness_pct: 60
      action: light.turn_on
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_1
    - metadata: {}
      data:
        transition: '{{ transition }}'
        brightness_pct: 100
      action: light.turn_on
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_2
    - metadata: {}
      data:
        transition: '{{ transition }}'
        brightness_pct: 100
      action: light.turn_on
      target:
        entity_id:
        - light.light_bedroom_ceiling
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id: light.light_bedroom_nightstand
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.lights_br_test
      - light.light_bedroom_floor
      - light.light_bedroom_ceiling
    action: adaptive_lighting.set_manual_control
  alias: script-bedroom-lights-partial
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_livingroom_lights_dim:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Dim
    target:
      entity_id: input_text.text_livingroom_lights_state
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_shoecabinet
      - light.light_livingroom_bookcase
      - light.light_livingroom_test
      - light.light_livingroom_smalldrawer
      - light.lights_lr_test
      - light.light_livingroom_bigdrawer
    action: adaptive_lighting.set_manual_control
  - parallel:
    - action: light.turn_off
      metadata: {}
      data:
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_ceiling
  - parallel:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.lights_lr_test
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 75
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_countertop
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 45
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_test
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 75
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_shoecabinet
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 50
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_smalldrawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bigdrawer
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 40
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_livingroom_bookcase
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.light_livingroom_shoecabinet
      - light.light_livingroom_bookcase
      - light.light_livingroom_test
      - light.light_livingroom_smalldrawer
      - light.lights_lr_test
      - light.light_livingroom_bigdrawer
    action: adaptive_lighting.set_manual_control
  alias: script-livingroom-lights-dim
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
script_bedroom_lights_dim:
  sequence:
  - action: input_text.set_value
    metadata: {}
    data:
      value: Dim
    target:
      entity_id: input_text.text_bedroom_lights_state
  - metadata: {}
    data:
      manual_control: true
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.lights_br_test
      - light.light_bedroom_floor
      - light.light_bedroom_nightstand
    action: adaptive_lighting.set_manual_control
  - parallel:
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.lights_br_test
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 60
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_1
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 100
        transition: '{{ transition }}'
      target:
        entity_id:
        - light.light_bedroom_floor_lamp_2
      action: light.turn_on
    - metadata: {}
      data:
        brightness_pct: 80
        transition: '{{ transition }}'
      action: light.turn_on
      target:
        entity_id: light.light_bedroom_nightstand
    - action: light.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: light.light_bedroom_ceiling
  - delay:
      hours: 0
      minutes: 0
      seconds: '{{ transition }}'
      milliseconds: 0
  - metadata: {}
    data:
      manual_control: false
      entity_id: switch.adaptive_lighting_test
      lights:
      - light.lights_br_test
      - light.light_bedroom_floor
      - light.light_bedroom_nightstand
    action: adaptive_lighting.set_manual_control
  alias: script-bedroom-lights-dim
  description: ''
  fields:
    transition:
      selector:
        number:
          min: 1
          max: 1000
      name: transition
      default: 1
      required: true
  mode: restart
