---
- name: '-'
  hosts: all
  gather_facts: false
  become_method: sudo

  pre_tasks:
    - name: 'Connect to host & retrieve facts'
      ansible.builtin.setup:
        gather_subset:
          - '!all'
          - 'network'

  roles:
    - role: GITHUB.REQUIREMENTS.ROLE
    - role: GITHUB.UPDATE.ROLE
    - role: GITHUB.DOCKER.ROLE

  tasks:
    - import_tasks: tasks/docker.yml
    - import_tasks: tasks/bluetooth.yml
    - import_tasks: tasks/personal.yml # remove if you want stock home assistant install
